body{
    margin: 0;
    padding: 0;
}

hr{
    border-style: none; 
    background-color:white;
    height:0.125em;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
}

nav{
    background-color: #fff;
}

nav .navbar-brand{
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
}

nav div ul li{
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: larger;
}

.navbar .navbar-nav .nav-link{
    color:black;
    border-radius: 20px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    background-color:#383838;
    display:inline-table;
    color:white;
}

.top-container{
    height: 100vh;
    width: 100%;
    background: url('C:/Users/Бектас/Desktop/second session/web (front)/website/img/back-overlay.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

#in-top-container{
    text-align: center;
    padding-top: 8%;
    color: whitesmoke;
}

#heading{
    font-size: 10em;
    font-family: 'Akaya Telivigala', cursive;
    font-weight:300;
}

#first-rule{
    border-style: none;
    background-color: white;
    height: 0.094em;
    width: 500;
}

#paragraph-one{
    padding-top: 2.500em;
    font-size: 1.250em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#Profile{
    font-size: 60; 
    color:#20B2AA;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    padding-top: 5%;
}

#profiles-hr{
    width: 500px;
    height: 2;
    border-style:none; 
    background-color:#EAEAEA;
}

#team{
    color:gray;
    text-align: center;
    font-size: 1.4em;
    font-family: cursive;
    padding-top: 2%;
}

.paragraph{
    font-size: 1.2em;
    font-family: 'Akaya Telivigala', cursive;
    line-height: 3.5;
    text-align: center;
}

.container{
    padding: 7% 5%;
}

#teamPhoto{
    width: 100%;
    height: 100%;
}

#heading3{
    padding-top: 50;
    font-size: 100;
    text-align: center;
    color:#20B2AA;
    font-family: sans-serif;
}

#sec-rule{
    border-style: none;
    background-color: #20B2AA;
    height: 1;
    width: 500;
}

.bottom-container{
    background-position: center;
    background-size: cover;
    margin: 0;
    background-image: url("C:/Users/Бектас/Desktop/second session/web (front)/website/img/contactusheader-overlay.jpg");
}

#Contact-heading{
    color: honeydew;
    text-align: center;
    font-size: 4em;
    font-family: 'Source Code Pro', monospace;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bolder;
}

.contactUs{
    padding-bottom: 1.5em;
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
}

.td{
    position: absolute;
    right: 50;
    top: 650;
}

#bekatop-img{
    padding: 50 50 0 150;
    width: 500;
    height: 400;
    position: absolute;
    left: 25;
    top: 250;
}

#sula-img{
    padding: 100 50 0 150;
    width: 500;
    height: 400;
    position: absolute;
    left: -75;
    top: 230;
}

#Ansar-img{
    padding: 50 50 0 150;
    width: 500;
    height: 400;
    position: absolute;
    left: 75;
    top: 250;
}

#Altynay-img{
    padding: 50 50 0 150;
    width: 500;
    height: 400;
    position: absolute;
    left: 25;
    top: 250;
}

.b-paragraph{
    text-align: center;
    font-family: cursive;
}

.f-container{
    background-color: AliceBlue;
    margin: 0;
    height: 950;
}

#fs-table{
    text-align: center;
    position: absolute;
    right: 250;
    top: 350;
}

#fss-table{
    text-align: center;
    position: absolute;
    right: 200;
    top: 310;
}

#Skills{
    text-align: center;
    color: #20B2AA ;
    font-size: 5em;
    padding-top: 50;
    font-family: monospace;
}

#pers-table{
    padding: 50 80 50 80;
}

.sk-star{
    font-size: 2em;
}

.p-table{
    text-align: center;
    padding: 0 100 10 100;
    font-family: sans-serif;
}

.ps-table{
    text-align: center;
    padding: 0 70 50 70;
    font-size: 3em;
}

.card-body{
    color:#456268;
    background-color:whitesmoke;
}

.responsibilities{
    background-color: whitesmoke;
}

.res-items{
    margin-left: -20;
}

#icons{
    color:aliceblue;
}

.contact-button{
    display: table;
    border: none;
    font-size: 1em;
}
